/*
!/.cargo/
!/.clippy.toml
!/.dockerignore
!/.editorconfig
!/.gitattributes
!/.github/
!/.gitignore
!/.rustfmt.toml
!/.typos.toml
!/assets/
!/Cargo.lock
!/Cargo.toml
!/crates/
!/deploy/
!/Dockerfile
!/LICENSE
!/README.en.md
!/README.md
!/rust-toolchain.toml
!/versions.toml

target/
*.rs.bk
.env
