/*
!/.cargo/
!/.dockerignore
!/.editorconfig
!/.gitattributes
!/.github/
!/.gitignore
!/assets/
!/Cargo.lock
!/Cargo.toml
!/clippy.toml
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/crates/
!/deny.toml
!/deploy/
!/Dockerfile
!/LICENSE
!/README.en.md
!/README.md
!/rust-toolchain.toml
!/rustfmt.toml
!/SECURITY.md
!/typos.toml
!/versions.toml

target/
*.rs.bk
.env
